<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Cadastro-Categoria</title>
</head>
<body>
    <form method="post" action="/cadastrar-categoria" class="col-8">
        <h2>Cadastrar categoria</h2>
        <div class="form-group">
            <label>Nome:</label>
            <input type="text" name="categoria" class="form-control" placeholder="Digite aqui a sua categoria"/>
        </div>
        <input type="submit" class="btn btn-danger" name="submit_button" value="Cadastrar">
    </form> 
</body>
</html>