<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Morais Library</title>
</head>
<body>
    <div>
        <h1>Bem vindo ao Morais Library</h1>
        <div>
            <a href="/livros">Lista de Livros</a>
            <a href="/categorias">Lista de Categorias</a>
            <a href="/titulos">Lista de Titulos</a>
            <a href="/tematicas">Lista de Tematicas</a>
        </div>
        <a href="/cadastrar-livro">Cadastrar Livro</a>
        <a href="/cadastrar-categoria">Cadastrar Categoria</a>
        <a href="/cadastrar-titulo">Cadastrar Titulo</a>
        <a href="/cadastrar-tematica">Cadastrar Tematica</a>

    </div>
</body>
</html>