<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Morais Library</title>
</head>
<body>
    <form method="post" action="/login">
        <div>
            <label>Login:</label>
            <input type="text" name="username" />
            <br/>
        </div>
        <div>
            <label>Senha:</label>
            <input type="text" name="password" />
            <br/>
        </div>
        <input type="submit" name="submit_button" value="Entrar">
    </form>
</body>
</html>